@{
    ViewBag.Title = "Thông tin";
}
<div class="container-flex" style="background-color:#fff;">
    <div class="flex flex-1 text-center">
        <h2>@ViewBag.Message</h2>
        <h3>&copy; @DateTime.Now.Year - HDVietnam Co., Ltd.</h3>
    </div>
</div>
