@{
    ViewBag.Title = "Liên hệ";
}
<div class="container-flex" style="background-color:#fff;">
    <div class="flex flex-1 text-center">
        <h3>@ViewBag.Message</h3>

        <address>
            Số 14 ngõ 18 Võ Văn Dũng<br />
            Phường Ô Chợ Dừa, Quận Đống Đa, Hà Nội<br />
            <abbr title="Phone">P:</abbr>
            (84 4) 35377344
        </address>

        <address>
            <strong>Website:</strong>   <a href="http://hdvietnam.com.vn/">hdvietnam.com.vn</a><br />
            <strong>Email:</strong> <a href="mailto:chien@hdvietnam.com.vn">support@hdvietnam.com.vn</a>
        </address>
    </div>    
</div>