/*#btnPlay {
    width: 70px;
    background-image: url(images/icon-play.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
}
#btnPause {
    width: 70px;
    background-image: url(images/icon-pause.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
}
#btnNext {
    width: 70px;
    background-image: url(images/icon-next.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: right center;
}
#btnBack {
    width: 70px;
    background-image: url(images/icon-back.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
}
#btnStop {
    width: 70px;
    background-image: url(images/icon-stop.png);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left center;
}*/
.container-flex > .flex:not(:first-child) {
    margin-left: 10px;
}

#tabs {
    border: none;
}
#zoom-slider123 {
    background-color:#aaa;
}.panel {
    margin-bottom: 0 !important;    
}
.panel-heading {
    background-color: #e9e9e9 !important;
}
.container-vertical-flex > .flex:not(:first-child) {
    margin-top: 0 !important;
}

div.balSlider {
    width: 100%;
}

    div.balSlider .k-slider-selection {
        display: none;
    }

.player-btn {
    margin-left: 10px !important;
}

.delayInfo {
    font-size: 18px;
    font-weight: bold;
}

#video_1 {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 1;
}

#video_2 {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    z-index: 1;
}

#currentSub {    
    height: 40px;
    text-align: center;
    background-color: #000;
    color: #fff;
    z-index: 3;    
    font-size: 26px;      
    margin: 0;
}

.btnGeneral {
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

/*#zoomBar {
    display: inline-block;    
}*/
/*#zoomIn {
    border-radius: 5px;        
    display: inline;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;    
    margin-right:120px;
}*/
/*#zoomOut {
    border-radius: 5px;        
    display: inline;
    font-size: 14px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;    
    margin-left: 110px;
}*/
/*#zoom-slider123 {          
    width:300px !important;
}*/
.play {
    display: inline-block;
    color: #ddd;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 14px;
    cursor: pointer;
    position: relative;
    background-color: #3498db;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-box-shadow: inset 0 0 0 1px #ddd, inset 0 0 0 3px #fff,inset 0 0 0 4px #ddd;
    box-shadow: inset 0 0 0 1px #ddd, inset 0 0 0 3px #fff,inset 0 0 0 4px #ddd;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    left: 250px;
}

    .play:hover {
        -webkit-box-shadow: inset 0 0 0 0 #CD391F, inset 0 0 0 0 #fff,inset 0 0 0 0px #cd3920;
        -moz-box-shadow: inset 0 0 0 0 #CD391F, inset 0 0 0 0 #fff,inset 0 0 0 0px #cd3920;
        box-shadow: inset 0 0 0 0 #CD391F, inset 0 0 0 0 #fff,inset 0 0 0 0px #cd3920;
        color: #fff;
        background-color: #CD391F;
    }

th {
    border-radius: 5px;
    background-color: #33AAFF;
    transition: background-color 0.5s ease;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #ccc;
    margin-top: 10px;
}
/*Khu vực menu chuột phải*/
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

    /* Each of the items in the list */
    .custom-menu li {
        padding: 8px 12px;
        cursor: pointer;
        list-style-type: none;
        transition: all .3s ease;
    }

        .custom-menu li:hover {
            background-color: #DEF;
        }

#FileUpload1 {
    display: none;
}

#formChooseTime {
    display: none;
}

#formDatLichRecord {
    display: none;
}

#formUpdateLichRecord {
    display: none;
}

#formUpdateTimeLine {
    display: none;
}

.subFile {
    background-color: azure;
    color: #2c0ab9;
}
